<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net40" />
  <package id="Octokit" version="0.1.1" targetFramework="net45" />
  <package id="ScriptCs.Contracts" version="0.7.0" targetFramework="net45" />
  <package id="ScriptCs.Octokit" version="0.1.0-build14" targetFramework="net45" />
</packages>